.messagecontainer{
  width:139vh;
  border-radius: 4.5px;
  height: 22vh;
  background-color: white;
  margin-left: 26vh;
  margin-top: 12px;
  border: 1px solid lightgray;
}
.container{
  margin-top: 18vh;
  margin-left: -7vh;
}
.c2{
  margin-top: 6vh;
  margin-left: -4vh;
  position: absolute;
}
.minp{
  border: 0;
  width: 90%;
  margin-left: 7.1vh;
  margin-top: 35.4%;
  position: fixed;
  z-index: 9999;
  height: 5.8vh;
}
.invite{
  width: 19vh;
  position: absolute;
  border: 0;
  height: 6vh;
  background-color: rgb(0, 0, 0);
  margin-left: 50.5vh;
  margin-top: 5.5vh;
  color: white;
  cursor: pointer

}
.invinp{
  margin-left: 50.5vh;
  margin-top: -1vh;
  height: 5vh;
  position: absolute;
}
.gncont{
  width:40vh;
  border-radius: 4.5px;
  height: 12vh;
  background-color: white;
  margin-left: 79vh;
  margin-top: 152px;
  cursor: pointer;
  border: 1px solid lightgray;
}
.invcont{
  margin-left:72vh;
  margin-top: -12vh;
}
.msgb{
  width: 23.9vh;
  position: absolute;
  border: 0;
  height: 6vh;
  background-color: lightgreen;
  margin-left: 175.5vh;
  margin-top: 10%;
  cursor: pointer;
}
.mbtn{
  width: 21.9vh;
  position: absolute;
  border: 0;
  height: 6vh;
  background-color: lightgreen;
  /* margin-left: 180vh; */
  margin-top: -30vh;
  cursor: pointer;
}
.jn{
  width: 19vh;
  position: absolute;
  border: 0;
  height: 6vh;
  background-color: rgb(0, 0, 0);
  margin-left: 90.5vh;
  margin-top: 5.5vh;
  color: white;
  cursor: pointer;
}
.err{
  color: red;
  position: absolute;
  margin-left: 72vh;
  margin-top: -15vh;
}
.newinp{
  margin-left: 72vh;
  margin-top: -12vh;
  width: 32vh;
  height: 4vh;
  position: absolute;
}
.create{
  width: 22vh;
  position: absolute;
  border: 0;
  height: 6vh;
  background-color: rgb(0, 0, 0);
  margin-left: 76.5vh;
  margin-top: -6.5vh;
  color: white;
  cursor: pointer;
}
.inpu{
  margin-top: 9.9%;
  border: 0;
  height: 6vh;
  margin-left: 3.5vh;
  position: absolute;
  width: 89.3%;
}
.profilepic{
  width: 16vh;
  border-radius: 160px;
  margin-left: 89vh;
  margin-top: 12vh;
}
.pname{
  margin-left: 87vh;
  margin-top: 29vh;
  position: absolute;
}
.message{
  margin-top: 52px;
  margin-left: 12px;
  font-weight: bolder;
  font-size: 22px;
  position: absolute;
}
.name{
  font-weight: bolder;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 16px;
  position: absolute;
}
.nav{
  height: 8vh;
  background: white;
}
.gb{
  width:40vh;
  height: 7vh;
  border: 0px;
  background: white;
  cursor: pointer;
  font-size: large;
}
.fzf{
  font-size: 22vh;
  margin-left: 72vh;
}
.gnf{
  font-size: 7vh;
  margin-left: 64vh;
  color: #7D7D7D;
}
.ninvted{
  font-size: 7vh;
  margin-left: 32vh;
  margin-top: 12vh;
  color: #7D7D7D;
}
.ilink{
  margin-left: 66vh;
  width: 71vh;
  margin-top: 52vh;
  color: blue;
  padding: 5vh;
  height: 2vh;
  padding-top: 2.5vh;
  border-radius: 6px;
  background-color: white;
}
.sbmt{
  margin-top: 22vh;
  position: absolute;
  width: 16vh;
  height: 5vh;
  border: 0px;
  background-color: lightgreen;
  margin-left: -29vh;
  cursor: pointer;
}
.inp{
  margin-left: 76vh;
  width: 42vh;
  height: 5vh;
  border: 0px;
  margin-top: 12vh;
}
.gl{
  margin-left: 2vh;
  margin-top: 1vh;
  position: absolute;
}
.goog{
  margin-left: 80vh;
  margin-top: 12vh;
}
#mb{
  margin-left:112vh;
  border: 0px;
  width: 18vh;
  height: 5vh;
  border-radius: 4px;
  background: #3542C9;
  color: white;
}
.photo{
  width: 6vh;
  margin-top: 1vh;
  position: absolute;
  margin-left: 3vh;
  border-radius: 74px;
}
#soi{
  border: 0px;
  width: 18vh;
  height: 5vh;
  border-radius: 4px;
  background: #A3AAB0;
  margin-top: 12px;
  color: white;
  font-size: large;
}
.li{
  margin-left: 12px;
}
#home{
  background-color: black;
  color: white;
  border: 0px;
  width: 16vh;
  height: 5vh;
  border-radius: 4px;
  font-size: larger;
  margin-top: 1.4vh;
  margin-left: 12vh;
  font-weight: bolder;
}
#mb{
  font-size: medium;
  width: 22vh;
} 
@media screen and (max-width: 1000px)
{
  #mb{
    margin-left:2vh;
    border: 0px;
    width: 18vh;
    height: 5vh;
    border-radius: 4px;
    background: #3542C9;
    color: white;
  }
}
@media screen and (max-width: 1189px)
{
  #mb{
    margin-left:2vh;
    border: 0px;
    width: 18vh;
    font-size: medium;
    height: 5vh;
    border-radius: 4px;
    background: #3542C9;
    color: white;
  }
  .mbtn{
    margin-top: 12vh;
  }
}
@media screen and (max-width: 1199px)
{
  #mb{
    margin-left:-12vh;
    border: 0px;
    width: 18vh;
    font-size: medium;
    height: 5vh;
    border-radius: 4px;
    background: #3542C9;
    color: white;
  }
  .messagecontainer{
    margin-left:20vh;
  }
}
@media screen and (max-width: 1120px)
{
  .messagecontainer{
    margin-left:12vh;
  }
}
@media screen and (max-width: 1022px)
{
  .messagecontainer{
    margin-left:21vh;
    width: 112vh;
  }
}
@media screen and (max-height: 573px)
{
  #mb{
    margin-top: 2vh;
    font-size: medium;
    height: 6vh;
    width: 24vh;
  }
  #soi{
    height: 6vh;
  }
  .nav{
    height: 12vh;
  }
  #home{
    font-size: smaller;
  }
}
@media screen and (max-width: 573px)
{
  #mb{
    margin-top: 2vh;
    font-size: medium;
    height: 6vh;
    width: 24vh;
  }
  #soi{
    height: 6vh;
  }
  .nav{
    height: 12vh;
  }
  #home{
    font-size: smaller;
  }
}
@media screen and (max-width: 1364px)
{
  #soi{
    margin-left: 2vh;
  }
  .minp{
    margin-top: 68vh;
  }
  .messagecontainer{
    width: 132vh;
  }
  .mbtn{
    position: absolute;
    margin-top: 62vh;
    margin-left: 6vh;
  }
  .minp{
    width: 100%;
  }
  #mb{
    margin-left: 85vh;
  }
}
@media screen and (max-width: 1162px)
{
  #soi{
    margin-left: 2vh;
  }
  .minp{
    margin-top: 68vh;
  }
  .mbtn{
    position: absolute;
    margin-top: 62vh;
    margin-left: 6vh;
  }
  .minp{
    width: 100%;
  }
  #mb{
    margin-left: 70vh;
  }
}
@media screen and (max-width: 1047px)
{
  #soi{
    margin-left: 2vh;
  }
  #mb{
    margin-left: 50vh;
  }
  .messagecontainer{
    width: 125vh;
  }
}
@media screen and (max-width: 879px)
{
  #soi{
    margin-left: 2vh;
  }
  #mb{
    margin-left: 30vh;
  }
  .messagecontainer{
    width: 95vh;
  }
}
@media screen and (max-width: 879px)
{
  #soi{
    margin-left: 2vh;
  }
  #mb{
    margin-left: 10vh;
  }
  .messagecontainer{
    width: 65vh;
  }
  .message{
    font-size: medium;
  }
}
@media screen and (max-width: 568px)
{
  #soi{
    margin-left: 2vh;
  }
  #mb{
    margin-left: 2svh;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 65vh;
    margin-left: 15vh;
  }
  .message{
    font-size: medium;
  }
}
@media screen and (max-width: 568px)
{
  #soi{
    margin-left: 2vh;
  }
  #mb{
    margin-left: 1.9vh;
    width: 19vh;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 50vh;
    margin-left: 15vh;
  }
  .message{
    font-size: medium;
  }
}
@media screen and (max-width: 398px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;

  }
  #mb{
    margin-left: 1svh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 40vh;
    font-size: small;
    margin-left: 15vh;
  }
  .message{
    font-size: small;
  }
  
}
@media screen and (max-width: 313px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;
    font-size: small;

  }
  #mb{
    margin-left: 1vh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 30vh;
    height: 32vh;
    font-size: small;
    margin-left: 15vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
  }
  .message{
    font-size: small;
  }

}
@media screen and (max-width: 418px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;

  }
  #mb{
    margin-left: 1svh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 40vh;
    font-size: small;
    margin-left: 15vh;
  }
  .message{
    font-size: small;
  }
  
}
@media screen and (max-width: 313px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;
    font-size: small;

  }
  #mb{
    margin-left: 1vh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 30vh;
    height: 32vh;
    font-size: small;
    margin-left: 15vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
  }
  .message{
    font-size: small;
  }

}
@media screen and (max-width: 642px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;
    font-size: small;

  }
  #mb{
    margin-left: 1vh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 30vh;
    height: 32vh;
    font-size: small;
    margin-left: 15vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
  }
  .message{
    font-size: small;
  }

}
@media screen and (max-width: 810px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;
    font-size: small;

  }
  #mb{
    margin-left: 1vh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 30vh;
    height: 32vh;
    font-size: small;
    margin-left: 15vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
  }
  .message{
    font-size: small;
  }

}
@media screen and (max-width: 1462px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;
    font-size: small;

  }
  #mb{
    margin-left: 1vh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 80vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
  }
  .message{
    font-size: small;
  }

}
@media screen and (max-width: 1013px)
{
  #soi{
    margin-left: 2vh;
    width: 12vh;
    font-size: small;

  }
  #mb{
    margin-left: 1vh;
    width: 12vh;
    font-size: small;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 70vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
  }
  .message{
    font-size: small;
  }

}
@media screen and (max-width: 1468px)
{
  #soi{
    margin-left: 2vh;

  }
  #mb{
    margin-left: 1vh;
  }
  .nav{
    width: 109vh ;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 100vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 43vh;
    margin-left: 6vh;
  }

}
@media screen and (max-width: 390px)
{
  #soi{
    margin-left: 2vh;

  }
  #mb{
    margin-left: 1vh;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 100vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 43vh;
    margin-left: 6vh;
  }

}
@media screen and (max-width: 1165px)
{
  #soi{
    margin-left: 2vh;

  }
  #mb{
    margin-left: 1vh;
  }
  #home{
    margin-left: 1vh;
  }
  .messagecontainer{
    width: 100vh;
  }
  .mbtn{
    height: 5vh;
    width: 12vh;
    margin-top: 63vh;
    margin-left: 6vh;
  }

}
.mbtn{
  margin-top: 62.9vh;
  margin-left: 7vh;
}